actionAPP/Service References/ServiceReference/RecordService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecordService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://yaosai.55555.io:15770/RecordService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://yaosai.55555.io:15770/RecordService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecordService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IRecordService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IRecordService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_AddKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:AddKeys" />
  </wsdl:message>
  <wsdl:message name="IRecordService_AddKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddKeysResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_ActivationMenber_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivationMenber" />
  </wsdl:message>
  <wsdl:message name="IRecordService_ActivationMenber_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivationMenberResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecordService">
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/UserLogin" message="tns:IRecordService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/UserLoginResponse" message="tns:IRecordService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/SignIn" message="tns:IRecordService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/SignInResponse" message="tns:IRecordService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddKeys">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/AddKeys" message="tns:IRecordService_AddKeys_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/AddKeysResponse" message="tns:IRecordService_AddKeys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivationMenber">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/ActivationMenber" message="tns:IRecordService_ActivationMenber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/ActivationMenberResponse" message="tns:IRecordService_ActivationMenber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecordService" type="tns:IRecordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IRecordService/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IRecordService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddKeys">
      <soap:operation soapAction="http://tempuri.org/IRecordService/AddKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivationMenber">
      <soap:operation soapAction="http://tempuri.org/IRecordService/ActivationMenber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecordService">
    <wsdl:port name="BasicHttpBinding_IRecordService" binding="tns:BasicHttpBinding_IRecordService">
      <soap:address location="http://yaosai.55555.io:15770/RecordService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>